.presentations{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .col-sm{
        width: 400px;
        
        &:nth-child(1){
            width: 600px;
        }
    }

    .welcome{
        img{
            max-width: 100%;
        }
    }
}

@media  only screen and (max-width: 900px) {
    .presentations{
        flex-direction: column !important;
        margin: 1rem;

        .welcome{
            img{
                width: 100% !important;
            }

            .btn{
                margin-bottom: 70px !important;
            }
        }

    }
}