$containerSize : 1100px;
$navbarW: 60px;
$sidebarH: calc(100vh - $navbarW);
$sidebarW: 300px;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family:transitFont;
    src:url("font/Poppins-Regular.ttf"),
    url("font/Poppins-Bold.ttf"),
    url("font/Poppins-SemiBold.ttf"),
    url("font/Poppins-ExtraBold.ttf")
}

html{
    background: #f0f3f5;
    font-family: transitFont;
}

.container{
    max-width: $containerSize;
    margin: auto;
}

.main-container{
    padding-top: calc($navbarW + 1rem);
    max-width: $containerSize;
    margin: auto;
}

.none{
    display: none;
}